<html>

<head>

    <link rel="import" href="../../../../home-index.html" />
    <title>BLaw Website</title>
</head>

<body ng-app="branden-site.module">
        <div class="container">
            <div ui-view>
                <div ng-cloak="" class="brandenNavBar">
                    <md-content class="md-padding">
                        <md-nav-bar md-selected-nav-item="vm.currentNavItem"
                                 nav-bar-aria-label="navigation links">
                            <md-nav-item md-nav-sref="home" name="home">
                                Home
                            </md-nav-item>
                            <md-nav-item md-nav-sref="branden-books" name="books">
                                My Books
                            </md-nav-item>
                            <md-nav-item md-nav-click="goto('page2')" name="investments">
                                My Investments
                            </md-nav-item>
                            <md-nav-item md-nav-click="goto('page3')" name="skills">
                                My Skills
                            </md-nav-item>
                        </md-nav-bar>
                    </md-content>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" id="BlawPageHeader">
                            Branden Lawrence
                            <a ng-href="{{vm.linkedln}}" class="btn btn-default" target="_blank">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a ng-href="{{vm.twitter}}" class="btn btn-default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a ng-href="{{vm.instagram}}" class="btn btn-default" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </h1>
                    </div>
                </div>
                <!--Content-->

                <!--Implement carousel of pictures-->
                <div id="brandenCarousel" class="col-md-6">
                    <div style="height:400px; width:400px;">
                        <div uib-carousel active="vm.activeSlide" interval="vm.myInterval">
                            <div uib-slide ng-repeat="slide in vm.images" index="slide.imageId">
                                <img ng-src="{{slide.image}}" style="margin:auto; height:400px; width:390px;">
                            </div>
                        </div>
                    </div>
                </div>

                <!--About Me-->
                <div id="aboutMe" class="col-md-6">
                    <p>Hi I'm Branden and welcome to my site.</p>
                </div>
            </div>
        </div>
</body>
</html>
