<html>
<body ng-app="branden-site.module">
    <div ng-cloak="" class="brandenNavBar" layout="row" layout-align="end center">
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="vm.currentNavItem"
                        nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-sref="home" name="home">
                    Home
                </md-nav-item>
                <md-nav-item md-nav-sref="branden-books" name="books">
                    My Books
                </md-nav-item>
                <md-nav-item md-nav-sref="branden-investments" name="investments">
                    My Investments
                </md-nav-item>
                <md-nav-item md-nav-sref="'branden-skills" name="skills">
                    My Skills
                </md-nav-item>
            </md-nav-bar>
        </md-content>
    </div>
    <br />
    <section>
        <h2 id="BlawPageHeader">My Investments</h2>
    </section>
    <br/>

    <section>
        <button type="button" class="btn btn-default" ng-click="vm.isCollapsed = !vm.isCollapsed">Toggle Investment Intro</button>
        <hr>
        <div uib-collapse="vm.isCollapsed">
            <div id="BlawPageHeader" class="well well-lg">
                <p>
                    I want to be more than a developer. I want to have the knowledge that allows me to merge business and IT into one. Investing is a good way to begin to understand the financial side of markets.
                    By investing, I'm not only learning but also making sure I don't have to work until im 70. Right now my portfolio is pretty basic, but as
                    I dabble more, I will no doubt make more riskier choices.
                </p>
                <p>
                    Below is a chart of how my investments are doing to date!
                </p>
            </div>
        </div>
    </section>
    <br/>
    <section>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">My Investments</h2>
            </div>
        </md-toolbar>
        <md-content flex="" layout-padding="">
            <canvas id="line" class="chart chart-line" chart-data="vm.investmentData"
                    chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                    chart-dataset-override="vm.investmentDataOverride" chart-click="vm.chartClick()">

            </canvas>
       </md-content>
</section>
</body>
</html>